@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* styles/Home.module.css */

:root {
  --foreground-rgb: rgb(51, 46, 52);
  --background-start-rgb: rgb(87, 87, 177);
  --background-end-rgb: rgb(26, 26, 97);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(61, 27, 67);
    --background-start-rgb: rgb(8, 8, 9);
    --background-end-rgb: rgb(39, 39, 69);
  }

  * {
    color: rgb(78, 78, 78) !important;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}

