@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 237, 236, 242;
  --background-start-rgb: 136, 151, 170;
  --background-end-rgb: 199, 199, 216;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 100, 255;
    --background-start-rgb: 255, 170, 170;
    --background-end-rgb: 170, 170, 170;
  }
}

@media (prefers-color-scheme: dark) {
   * {
    color: rgb(230, 230, 230) !important;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
