@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: rgb();
  --background-start-rgb: rgb();
  --background-end-rgb: rgb();
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb();
    --background-start-rgb: rgb();
    --background-end-rgb: rgb();
  }
}

@media (prefers-color-scheme: dark) {
   * {
    color: rgb(78, 78, 78) !important;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
